@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-gray-900 dark:text-gray-100 antialiased bg-white dark:bg-gray-900 transition-colors duration-200;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg transition-all duration-200;
  }

  .btn-primary {
    @apply bg-primary-light dark:bg-primary-dark text-white hover:bg-blue-700 dark:hover:bg-blue-300;
  }
  .active-icon {
    color: #4CAF50; /* Green */
    transform: scale(1.5);
  }
}




@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 30s linear infinite;
  display: flex;
  width: fit-content;
}

/* Optional: Pause animation on hover */
.animate-infinite-scroll:hover {
  animation-play-state: paused;
}

/* Add smooth transition for hover effect */
.animate-infinite-scroll > * {
  
  transition: transform 0.3s ease;
}

/* Add hover effect on individual cards */
.animate-infinite-scroll > *:hover {
  transform: scale(1.05);
  z-index: 1;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.6s ease-out forwards;
}